<% include partials/head %>
    <title>熱門活動</title>
  </head>
  <body>
    <% include partials/navbar %>
    <div class="container">
      
    </div>
    <% include partials/footer %>
  </body>
</html>
