<% include partials/head %>
    <title>忘記密碼</title>
  </head>
  <style>
  .container {
    padding-top: 70px;
  }
  </style>
  <body>
    <% include partials/navbar %>
    <div class="container">
      <% if (error_msg) {%>
        <div class="alert alert-danger"><%= error_msg %></div>
      <% } %>
      <% if (success_msg) {%>
        <div class="alert alert-info"><%= success_msg %></div>
      <% } %>
      <% if(!success_msg){ %>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">忘記密碼</h2>
                  <p>請輸入您註冊時所使用的email地址：</p>
                  <div class="panel-body">
                    <form role="form" autocomplete="off" class="form" method="post">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="送出" type="submit">
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
      <% } %>
    </div>
    <% include partials/footer %>
    <script>
      $('input[type="submit"]').click(function(){
        if($('#email').val().length == 0){
          event.preventDefault();
          alert('請輸入email')
        }
      });
    </script>
  </body>
</html>
