<% include partials/head %>
<title>Fast Stroke Test</title>
<script async src="/js/libs/brf/BRFv4_JS_trial.js"></script>
<!--<script src="https://download.affectiva.com/js/3.1/affdex.js"></script>-->
<script type="text/javascript" src="/js/libs/webcamjs/webcam.min.js"></script>
<script type="text/javascript" src="/js/libs/microm/dist/microm.min.js"></script>
<style type="text/css">
		#my_camera {
  		margin-right: auto;
  		margin-left: auto;
		}

		#image_canvas {
			margin: auto;
  		display: block;
		}

		#imageDetect,
		#speechTest,
		#testComplete {
			padding-top: 60px;
			padding-left: 40px;
		}

		#shot,
		#reshot,
		#submit_photo {
  		display: flex;
  		justify-content: center;
		}

		#speechResults {
			height: 200px;
			border: 1px solid #ccc;
			padding: 10px;
			box-shadow: 0 0 10px 0 #bbb;
			margin-bottom: 30px;
			font-size: 14px;
			line-height: 25px;
		}
	</style>
</head>
<body>
  <% include partials/navbar %>
  <div class="row" id="imageDetect">
    <div class="col-md-10" style="width:680px;height:480px;">
      <div id="my_camera"></div>
      <div id="shot" style="display:none">
        <input type=button value="拍照" onClick="preview_snapshot()">
      </div>
      <div id="reshot" style="display:none">
        <input type=button value="重拍" onClick="cancel_preview()">
      </div>
      <div id="submit_photo" style="display:none">
        <input type=button value="送出" onClick="startTest()">
      </div>
      <hr>
      <canvas id="image_canvas" width="640" height="480"></canvas>
    </div>
    <div class="col-md-4">
      <div style="height:10em;">
        <strong>偵測結果：</strong>
        <div id="results" style="word-wrap:break-word;"></div>
      </div>
      <div>
        <strong>偵測器訊息：</strong>
      </div>
      <div id="logs" style="padding-bottom: 100px;"></div>
			<button id="next" class="btn btn-primary" style="display: none;">開始進行語音檢測</button>
    </div>
  </div>

	<div id="speechTest" style="display: none; align-items: center;">
		<div class="col-md-6">
			<h3>請按下右下方的開始錄音鍵後，念出以下的文字：</h3>
			<h5>(當您完成錄音後請按下停止錄音鍵並送出)</h4><br>
			<span  id="plainText"></span>
		</div>
		<div class="col-md-6" id="recordArea" style="padding-right: 40px;">
			<div id="speechResults">
		  	<span id="final_span" class="final"></span>
		  	<span id="interim_span" style="color:grey" class="interim"></span>
			</div>
			<button class="btn btn-default" id="start_button">開始錄音<i class="fa fa-fw fa-microphone" aria-hidden="true"></i></button>
			<button class="btn btn-default" id="stop_button" style="display: none;">停止錄音<i class="fa fa-fw fa-stop" aria-hidden="true"></i></button>
			<button class="btn btn-default" id="play_button" style="display: none;">播放<i class="fa fa-fw fa-play" aria-hidden="true"></i></button>
			<button class="btn btn-default" id="pause_button" style="display: none;">暫停<i class="fa fa-fw fa-pause" aria-hidden="true"></i></button>
			<button class="btn btn-primary" id="sendResults" style="display: none; float: right;">送出</button>
		</div>
	</div>
	<div id="testComplete" style="display: none; align-items: center;">
		<h3>檢測結果</h3><br>
		<h4>嘴巴歪斜程度：</h4><span id="resultAngle"></span>
		<h4>咬字正確率：</h4><span id="resultAccuracy"></span><br>
		<button class="btn btn-primary" id="testAgain" style="margin-top: 50px;">重新檢測</button>
	</div>

  <script type="text/javascript" src="/js/stroke.js"></script>
</body>
</html>
