<% include partials/head %>
    <title>個人監測結果</title>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="/js/trackerData.js"></script>
    <script type="text/javascript" src="/js/libs/Highcharts/themes/gray.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <% include partials/navbar %>
    <div class="container">
      <div id="chart" style="width:100%; height:400px;"></div>
      <br>
      <button id="clearData" class="btn">清除資料</button>

    </div>
    <% include partials/footer %>
  </body>
</html>
