#ex1Slider .slider-selection {
  background: #BABABA;
}
div.input-group {
  width:500px;
  margin: auto;
}

#ipArea {
  padding-top: 60px;
}

#countdown-img {
  width: 338px;
  hieght: 338px;
  -webkit-border-radius: 169px;
  -moz-border-radius: 169px;
  border-radius: 169px;
  overflow:hidden;
}

#countdownPic {
  display: block;
  margin: auto;
  height: auto;
  width: 100%;
}

.btn-group .active {
  background-color : yellow;
}

:focus {
  outline: 0;
  background-color: 0;
}

#RGB {
	height: 20px;
	background: rgb(128, 128, 128);
}
#RC .slider-selection {
	background: #FF8282;
}
#RC .slider-handle {
	background: red;
}
#GC .slider-selection {
	background: #428041;
}
#GC .slider-handle {
	background: green;
}
#BC .slider-selection {
	background: #8283FF;
}
#BC .slider-handle {
	border-bottom-color: blue;
}
#R, #G, #B {
	width: 300px;
}
